.container-cotar {
    display: flex;
    flex-direction: column;
    height: 14rem;
    justify-content: space-between;
    margin-top: 1%;
}

.moeda-origem {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2% 0;
}

.select-coin {
    margin-right: 1rem;
    height: 2rem;
}

.input-coin-origem {
    height: 2rem;
}

.moedas-destino {
    display: flex;
    flex-direction: row;
    margin: 4% 0;
    align-items: center;
    justify-content: center;
}
h4 { 
    text-align: center;
}
label {
    margin-left: 4%;
    align-content: center;
}

.button-obter-cotacao {
    border: none;
    background-color: rgba(250, 238, 105, 0.8);
    text-transform: uppercase;
    padding: 0.5em 0.8em;
    border-radius: 10px;
    cursor: pointer;
}

.button-obter-cotacao:hover {
    background-color: rgba(250, 238, 105, 1);
}