@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Roboto:wght@100;300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Hubballi', cursive, 'Roboto', sans-serif;
    letter-spacing: 0.5px;
}

.App {
    background-color: #202020;
    color: #EAD41C;
}